* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html, body, #mainarea {
    height: 100%;
}

#mainarea {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#addbtn {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.3);
    transition: 0.15s;
}
.ishorizontal #addbtn {
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
}
.isvertical #addbtn {
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
}
#addbtn .fa {
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    color: #fafafa;
}
#addbtn:hover {
    background: rgba(65, 65, 65, 0.5);
    cursor: pointer;
}
.ishorizontal #addbtn:hover {
    width: 60px;
}
.isvertical #addbtn:hover {
    height: 60px;
}

#screenoverlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.65);
}
.ishorizontal #screenoverlay {
    top: 0;
    left: 0;
    right: 50px;
    left: calc(100% - 50px);
    bottom: 0;
}
.isvertical #screenoverlay {
    left: 0;
    bottom: 50px;
    top: calc(100% - 50px);
    right: 0;
}
.screenoverlaypopin {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.ishorizontal .screenoverlaypopin {
    animation-name: screenoverlaypopin;
    left: calc(100% - 50px);
}
.isvertical .screenoverlaypopin {
    animation-name: screenoverlaypopinvertical;
    top: calc(100% - 50px);
}
.screenoverlaypopout {
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.ishorizontal .screenoverlaypopout {
    animation-name: screenoverlaypopout;
    left: 0;
}
.isvertical .screenoverlaypopout {
    animation-name: screenoverlaypopoutvertical;
    top: 0;
}

@keyframes screenoverlaypopin {
    0% {
        left: calc(100% - 50px);
    }
    100% {
        left: 0;
    }
}
@keyframes screenoverlaypopinvertical {
    0% {
        top: calc(100% - 50px);
    }
    100% {
        top: 0;
    }
}
@keyframes screenoverlaypopout {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 50px);
    }
}
@keyframes screenoverlaypopoutvertical {
    0% {
        top: 0;
    }
    100% {
        top: calc(100% - 50px);
    }
}

#popup {
    list-style: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    overflow: hidden;
}
#popup li {
    background: rgba(190, 190, 190, 0.2);
    transition: 0.2s;
    font-family: "Raleway";
    letter-spacing: 0.05em;
    font-size: 14px;
    font-weight: 600;
    color: #fafafa;
    box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.2);
}
.ishorizontal #popup li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
}
.isvertical #popup li {
    display: block;
    padding: 20px 5px;
    margin: 10px 0;
}
#popup li:hover {
    background: rgba(190, 190, 190, 0.5);
    cursor: pointer;
}